{{ define "main" }}
<main>
        
    <section id="introduction">
        <article>
        <h3>a website is a house</h3>
        <p>
            My goal of practicing creativity and self expression on the internet away from corporation-poisoned social media
            has led me down a path of building and hosting my own website. The more work I put into my site the more it feels like
            a safe space; The type of comfort I feel when navigating the directory of my website - It's like a little house I have built
            for myself from the ground up. And I guess this page is the living room.
        </p>
        </article>
        <!--
        <div class="images">
            <div class="main_image">
            <img  src="/static/photo_burg.png" alt="a sunset" >
            </div>
            <div class="main_image">
            <img  src="/static/photo_redsunset.png" alt="a sunset" >
            </div>
            <div class="main_image">
            <img  src="/static/photo_keycaps.png" alt="a sunset" >
            </div>
        </div>
        -->
    
        <article>
            <h3>a website is a machine that you leave outside</h3>
            <p>
                "A website is a particular kind of machine you leave out for people to mess with, click and surf. It's all happening inside the internet. It's software. So it's not outdoors. It's not anywhere really. It's just out here, available to anyone with a connection.
                Websites are always on. Which is odd, because very few things are always up and running. Most stuff switches on and off. Shops open and close. Cars drive until they're out of gas. But websites go and go. You tend to a website, like a garden.
                They require regular updates. Security patches. Upgrades. Software demands a level of participation." <br>
                <i>- quoted from <a href="https://publicannouncement.org/2022/a-website-is-a-machine-you-leave-outside/">this article.</a></i>
            </p>
        </article>
        <!--
        <div class="images">        
            <div class="main_image">
            <img  src="/static/photo_greenmoon.png" alt="a sunset" >
            </div>
            <div class="main_image">
            <img  src="/static/photo_greens.png" alt="a sunset" >
            </div>
            <div class="main_image">
            <img  src="/static/photo_basteln.png" alt="a sunset" >
            </div>
        </div>
        -->
    
        <article>
            <h3>the machine is nature itself</h3>
            <p>
                I am interested in exploring the place where nature, technology and spirituality intersect. Mostly for artistic
                reasons, but I also believe that these themes can help us reflect on how
                we interact with the machines around us, how they change and influence us and how we use them to aid and harm society.
                Computers are cool, thats basically it. 
            </p>
        </article>
    </section>
    
        </main>
    
{{ end }}