<p>Copyright {{ now.Year }}. All rights reserved.</p>
<dark-mode-toggle
id="dark-mode-toggle-1"
legend="Theme Switcher"
appearance="switch"
dark="Dark"
light="Light"
remember="Remember this"
></dark-mode-toggle>
<form action="?" method="get">
    <span class="tp_title">Theme Picker: </span>
    <select id="themePicker" name="theme">
    <!--<option value='0' data-filename="default.css" selected>Default</option>-->
    <option value="default.css" selected="">Default </option>
    <option value="light.css" selected="">light </option>
    <option value="dark.css" selected="">dark </option>

  
    </select>
    <span id="themeButton" style="display: none;">
    <input type="submit" value="Apply">
    </span>
    </form>