<div id="statuscafe" class="extra">
    <details open>
        <summary>
            <h3>status update</h3>
        </summary>
        <div id="statuscafe-username"></div>
        <div id="statuscafe-content"></div>
    </details>
</div>
<script src="https://status.cafe/current-status.js?name=ram6y" defer></script>
<div  id="imood" class="extra">
    <details open>
        <summary>
            <h3>mood</h3>
        </summary>
        <p id="imood_text">right now i am feeling: </p>
        <a href="https://www.imood.com/users/ramy" id="imood_image">
            <img src="https://moods.imood.com/display/uname-ram6y/trans-1/imood.gif" alt="The current mood of ramy at www.imood.com" border="0">
        </a>
    </details>
</div>