:root{
    --accent: rgba(26, 25, 25, 1);
    --accent2: rgb(14, 14, 14);
    --border: #31282b;
    --link: #488895;
    --altarticle: rgba(26, 25, 25, 1);
    --gradbegin: #31282b;
    --gradend: #31282b;
    --backgroundcolor: #131315;
    --spancolor: #39655e;
    --headershadow: black;
    --textcolor: #9a9a94;
    --imood-filter: invert(100%);
    --backgroundblend: multiply;
    --backgroundimage: none;
    --visitedlink: #4b8880;
    --h3color: #39655e;
    --headerimage: url(/images/photo_greenmoon.png);
    --headertext: beige;
}

