
:root{
    --rect-bg: #fffdf6;
    --rect-bg2: rgb(240, 255, 249);
    --link: blue;
    --border: midnightblue;
    --list-hover: rgba(184, 228, 255, 0.228);
    --spancolor: royalblue;
    --spanshadow: #a5fbff;
    --navinfo: rgba(51, 170, 51, .5);
    --smalltext: darkslategray;
    --altarticle: lightyellow;
    --headershadow: black;
    --gradbegin: rgba(119,196,255,0.6432773793110995);
    --gradend: rgba(148,187,233,0);
    --textcolor: black;
    --imood-filter: none;
    --backgroundblend: normal;
    --backgroundimage: url(/static/background3.png);
    --backgroundcolor: none;
    --backgroundcolor2: #fffdf6;

    --visitedlink: purple;
    --headerimage: url(/static/photo_trees.png);
    --headertext: ghostwhite;

}